.title {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, white, #ffcbca 80%);
  position: relative;
}
.title-img img {
  width: 70%;
  overflow: hidden;
}
.title-img {
  position: absolute;
  top: 1%;
  left: 55%;
}
.title-desc {
  padding-top: 80px;
}
.title-desc .info {
  color: #b81d1c;
  font-family: "BemboStd";
  line-height: 2px;
}
.title-desc h2 {
  color: #b81d1c;
  font-family: "BemboStd";
  font-weight: 500;
  font-size: 2.8em;
}
.act {
  border: 1px solid #b81d1c;
  background-color: transparent;
  padding: 5px;
  width: 150px;
  color: #b81d1c;
  font-weight: 600;
  font-family: "BemboStd";
}
@media screen and (max-width: 978px) {
  .title-img {
    position: absolute;
    top: 10%;
    left: 55%;
  }
}
@media screen and (max-width: 767px) {
  .title-img img {
    display: none;
  }
}
