@font-face {
  font-family: "BemboStd";
  src: url("./fonts/BemboStd.otf");
}
body {
  overflow-x: hidden;
}
.house img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}
